h1 {
    font-family: "Calibri";
}

h2 {
    font-family: "Calibri";
}

a {
    font-family: "Garamond";
}

p {
    font-family: "Garamond";
}

.indent {
    text-indent: 30px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    font-family: "Calibri";
}

.paragraph {
    font-family: "Garamond";
}

.narrow {
    max-width: 700px;
    margin: 0 auto;
}